@charset "EUC-KR";
* {
	margin: 0;
	padding: 0;
}

.maincontainer {
	width: 1000px;
	height:800px;
	margin: 0 auto;
	padding: 25px;
	display:flex;
	justify-content:center;
		align-items:center;

}

.maincontainer h1 {
	text-align: left;
	padding: 5px 5px 5px 15px;
	color: #7fad39;
	border-left: 3px solid #7fad39;
	margin-bottom: 20px;
}

.innercontainer{
	display:flex;
}

.studylistcontainer{
	width:255px;
	border-radius: 10px;
	border:1px solid #7fad39;
	padding:10px;
}

.studycontainer{
	text-overflow: ellipsis;
	width:100px;	
	overflow:hidden;
	height:50px;
	white-space:nowrap;
}

.studycontainertitlecontainer{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	height:100px;
	width:100%;
}

.studycontainertitle{
	width:100px;
	height:25px;
}



.chattingloglistcontainer {
	border-radius: 10px;
	background-color:#ECF7DC;
	width: 700px;
	height: 400px;
	overflow: auto;
	color: black;
	text-align: left;
	overflow-y:scroll;
}
.chattingtitlecontainer{
	width:100%;
	height:50px;
	border:1px solid black;
	display:flex;

	align-items:center;
}
.chattingtitle{
	width:200px;
	height:25px;
	
	
}

.chattinglogcontainer{
	display:flex;
	height:20px;
	width:100%;
	
}

.enterchattinglogcontainer{
	display:flex;
	height:20px;
	width:250px;
	margin:0 auto;
}

.mychattinglogcontainer{
	display:flex;
	height:20px;
	justify-content:flex-end;
}

.mylog{
	display:flex;
	justify-content:flex-end;
	width:100%;	
}

.chattinglogname{
	width: 50px;
	height:100%;
}

.chattinglogcontent{
	height:100%;
	margin-right:5px;
}



.chattinglogtime{
	height:100%;
	margin-right:5px;
}


input {
	width: 330px;
	height: 25px;
}

.chattinglogdate{
	width:200px;
	height:20px;
	margin:0 auto;
	text-align: center;
}

