@charset "EUC-KR";
* {
	margin: 0;
	padding: 0;
}

.wholecontainer{
	width:100%;
	background-color: #d8eabd;
}

.chattingwholecontainer{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
		border-radius:8px;
}

.maincontainer {
	width: 1000px;
	height:800px;
	margin: 0 auto;
	padding: 25px;
	display:flex;
	justify-content:center;
	align-items:center;

}

.maincontainer h1 {
	text-align: left;
	padding: 5px 5px 5px 15px;
	color: #7fad39;
	border-left: 3px solid #7fad39;
	margin-bottom: 20px;
}

.innercontainer{
	display:flex;
}

.studylistcontainer{
	background-color:white;
	width:255px;
	border-radius: 10px;

	padding:10px;
}

.studycontainer{
	display:flex;
	align-items:center;
	width:100%;	
	height:50px;
	white-space:nowrap;
	border-bottom: 1px solid #7fad39;
}
.studycontainerclicked{
	background-color: #ECF7DC;
}

.studyimgcontainer{
	width:65px;
	height:100%;
	

}

img{
	border:1px solid white;
	filter: brightness(85%);
	width:100%;
	height:100%;
}


.studynameandlogcontainer{
	display:flex;
	flex-direction:column;
	width:100%;
	height:100%;
	
}
.studynamecontainer{
	text-overflow: ellipsis;
	overflow:hidden;
	overflow:hidden;
	width:100%;
	height:20px;
	margin-bottom:3px;
	margin-left:5px;
}

.studylastlogcontainer{
	height:25px;
	width:100%;
	color:#7fad39;
	margin-left:5px;
}

.studycontainertitlecontainer{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	width:100%;
	margin-bottom:10px;
}

hr{
	margin:0 !important;
	margin-bottom:10px !important;
}

.studycontainertitle{
	width:100px;
	height:25px;

}


.chattingloglistcontainer {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
	background-color:#ECF7DC;
	border:1px solid #7fad39;
	border-top:none;
	border-bottom:none;
	height: 400px;
	overflow: auto;
	color: black;
	text-align: left;
	overflow-y:scroll;
	overflow-x:hidden;
}

.chattingloglistcontainer::-webkit-scrollbar{
	  background-color: transparent;
	  width:5px;
	  
}

  .chattingloglistcontainer::-webkit-scrollbar-thumb {
    background-color: #7fad39;
    border-radius: 10px;

  }
  
  .chattingloglistcontainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.chattingtitlecontainer{
	border-radius: 10px;
	background-color:white;
	border:1px solid #7fad39;
	border-bottom:none;
	width:100%;
	height:65px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	display:flex;
	padding:10px;

	justify-content:space-between;
	align-items:center;
}
.chattingtitle{
	width:200px;
	height:25px;
	color:black;
	margin-left:10px;
	
	
}

.titleandimgcontainer{
	display:flex;
	justify-content: center;
	align-items: center;
}

.chattingimgcontainer{
	width:40px;
	height:40px;
	border-radius: 8px;
}

.chattingimgcontainer > img{
		border-radius: 8px;
}

.showchattinglistbuttoncontainer{
	height:25px;
	width:100px;
	border:1px solid black;
	display:flex;
	justify-content: center;
	align-items: center;
}

.chattinglogcontainer{
	display:flex;
	align-items:center;
	height:50px;
	width:100%;
	margin:2px;
	padding-right:18px;

	
}

.enterchattinglogcontainer{
	display:flex;
	height:20px;
	width:250px;
	margin:0 auto;
}



.mylog{
	display:flex;

	width:100%;	
	justify-content:flex-end;
}

.myballoon{
	display:flex;

	justify-content:center;
	border-radius: 8px;
	background-color:#7fad39;
	position:relative;
	
}

.yourballoon{
	display:flex;
	justify-content:center;
	border-radius: 8px;
	background-color:#dbdbdb;
	position:relative;
	margin-right:5px;
	
}

.yourballoon:after {
 border-top:11px solid transparent;
 border-left: 7px solid transparent;
 border-right: 0px solid transparent;
 border-bottom: 9px solid #e6e6e6;
 content:"";
 position:absolute;
 top:-1px;
 left:-6px;
}

.myballoon:after {
 border-top:11px solid transparent;
 border-left: 0px solid transparent;
 border-right: 7px solid transparent;
 border-bottom: 9px solid #7fad39;
 content:"";
 position:absolute;
 top:-1px;
 right:-6px;
}
.myname{
	margin-left:8px;
}

.chattinglogname{
	margin-left:10px;
	margin-right:10px;
	height:100%;
}


.chattinglogcontent{
	height:100%;
	margin: 2px 9px;
	color:white;


}



.chattinglogtime{
	height:13px;
	margin-right:5px;
	font-size:12px;
	
}


input {
	width: 330px;
	height: 25px;
}

.chattinglogdate{
	width:200px;
	height:20px;
	margin:0 auto;
	text-align: center;
	color:#7fad39;
}

#yourMsg{
	border:1px solid #7fad39;
	border-top:none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color:white;
	display:flex;
	align-items: center;

	height:65px;
	
}

#chatting{
	margin-left:10px;
	width:93%;
}

input{border:0};

input:focus {outline:none;}

button{
	border:0;
	border-radius: 10px !important;
	background-color:#7fad39;
	color:white;
	padding:6px;
	font-size:13px !important;
}