@charset "EUC-KR";
* {
	margin: 0;
	padding: 0;
}

.maincontainer {
	width: 1000px;
	margin: 0 auto;
	padding: 25px
}

.maincontainer h1 {
	text-align: left;
	padding: 5px 5px 5px 15px;
	color: #7fad39;
	border-left: 3px solid #7fad39;
	margin-bottom: 20px;
}

.innercontainer{
	display:flex;
}

.studylistcontainer{
	width:100px;
}

.studycontainer{
	text-overflow: ellipsis;
	width:100px;	
	overflow:hidden;
	height:20px;
	white-space:nowrap;
}

.chattingloglistcontainer {
	background-color: #000;
	width: 700px;
	height: 200px;
	overflow: auto;
	color: #fff;
	text-align: left;
	overflow-y:scroll;
}

.chattinglogcontainer{
	display:flex;
	height:20px;
	width:100%;
}

.enterchattinglogcontainer{
	display:flex;
	height:20px;
	width:250px;
	margin:0 auto;
}

.mychattinglogcontainer{
	display:flex;
	height:20px;
	justify-content:flex-end;
}

.mylog{
	display:flex;
	justify-content:flex-end;
	width:100%;	
}

.chattinglogname{
	width: 50px;
	height:100%;
}

.chattinglogcontent{
	height:100%;
	margin-right:5px;
}



.chattinglogtime{
	height:100%;
	margin-right:5px;
}


input {
	width: 330px;
	height: 25px;
}

.chattinglogdate{
	width:200px;
	height:20px;
	margin:0 auto;
	text-align: center;
}

