@charset "EUC-KR";
* {
	margin: 0;
	padding: 0;
}

.container {
	width: 500px;
	margin: 0 auto;
	padding: 25px
}

.container h1 {
	text-align: left;
	padding: 5px 5px 5px 15px;
	color: #7fad39;
	border-left: 3px solid #7fad39;
	margin-bottom: 20px;
}

.innercontainer{
	display:flex;
}

.chattinglog {
	background-color: #000;
	width: 500px;
	height: 500px;
	overflow: auto;
	color: #fff;
	text-align: left;
}



input {
	width: 330px;
	height: 25px;
}

